<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Wiki</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/stylesheets/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <h2>Wiki</h2>
                <form action="" method="post">
                    <!-- <input class="search" type="text" name="q" placeholder="Search Encyclopedia"> -->
                    <input type="submit" value="Search">
                </form>
                <div>
                    <a href="/wiki">Home</a>
                </div>
                <div>
                    <a href="">Create New Page</a>
                </div>
                <div>
                    <a href="">Random Page</a>
                </div>
            </div>
            <div class="main col-lg-10 col-md-9">
