<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reddit</title>
</head>
<body>
  <h1>Reddit</h1>
  <ul>
    <% for( let subreddit of subreddits) { %>
      <li><%= subreddit %></li>
    <% } %>
  </ul>
</body>
</html>