<div class="sidebar col-lg-2 col-md-3">
  <h2>Wiki</h2>
  <div>
    <form action="/wiki/search/" method="post">
      <input class="search" type="text" id="q" name="q" placeholder="Search Encyclopedia">
      <button>Search</button>
    </form>

  </div>

  <div>
    <a href="/wiki">Home</a>
  </div>
  <div>
    <a href="/wiki/new">Create New Page</a>
  </div>
  <!-- <div>
    <a href="">Random Page</a>
  </div> -->
  <%- nav %>
</div>